
@font-face{
	font-family: Pingfang;
	scr:url(/PingFang.ttc);
}


body{
	background-color: pink;

}

header{
	text-align: center;
	color:Black;
	padding-bottom:2px;
	height: 23px;
	
}


#linkToBili{
	float:left;
	
}

footer{
	text-align: center;
	font-size: 8px;
	padding-top:20px;
	margin-top:15px;
	color:	grey;
}

H1{

	font-size: 100%;
	font-family:MingLiU;

}

H3{
	font-size: 12px;
	line-height: 1.1;
}

p{
	font-size:10px;
	width:95%;
	color:grey;
	line-height:1.2;
	padding-left: 4px;
	padding-right:4px;

}





a{
	color:black;
	font-size: 80%;
	font-weight: bold;
	text-decoration-line: overline underline;

}

a:hover{
	color:lightgreen;
	text-decoration-line: overline underline;

}

a:visited{
	color:white;

}

#newContainer{
	background-color: white;
	opacity: 0.9;
	width:60%;
	margin:auto;
	border-style: dotted;
	margin-top: 10px;
	padding-bottom: 10px;
	text-align: center;

}

#new{
	font-size:11px;
	color: black;
	line-height: 1.2;
	
}

#mainContainer{
	width: 95%;
	height: 70vh;
	margin:auto;

}

#songListContainer{
	
	height: 80%;
	width:60%;
	margin:auto;

}

#songList{
	background-color: white;
	opacity: 0.9;
	padding: 20px;
	font-size: 12px;
	line-height: 1.9;
	overflow: auto;
	height: 80%;
	width:100%;
	margin-bottom: 20px;
	color:lightpink;
	
}




button{
	background-color: lightyellow;
	color: 	black;
	border-style: none;
	width:25%;
	height:30px;
	margin-bottom:13px;
	margin-right:4px;
	font-weight: bold;
}


button:hover{
	background-color: lightgreen;
	color:black;
	transition:.5s;
}


#search{
	height:25px;
	width:30%;
	margin-right:4px;
}
#submit{
	width:10%;
}



#pendingContainer{

	float:left;
	width:18%;
	margin-top:50px;
	border-style: dotted;


}

#pendingSongList{
	background-color: white;
	opacity:0.8;
	color:grey;
	width:95%;
	height:120px;
	border-style: dotted;
	margin:auto;
	font-size:10px;
}

#leftInputGroup{
	width:100%;
	

}

#leftInputGroup input{
	width:90%;
	height:20px;
	margin:2px;
	

}

#pendingContainer H3{
	padding-left:6px;
	line-height: 0.3;
}



#addToPending{
	width:90%;
	height:110%;

	margin:auto;
	margin-left:2px;
	

}






/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: lightyellow; 
    border-radius: 15px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgreen; 
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white; 
}


